.header{
 background-color: black;
 color:white;
 list-style: none;
 text-align: center;
 padding: 20px;
 
}
.footer{
 background-color: black;
 color: white;
 list-style: none;
 text-align: center;
 padding: 10px;
 }

 .main{
   
}